@font-face {
    font-family: "nature";
    src: url(fonts/webfontkit-20230306-204107/naturebeautypersonaluse-9y2dk-webfont.woff)
    format("woff");
}

@font-face {
    font-family: "norse";
    src: url(fonts/webfontkit-20230314-210904/norse-bold_1-webfont.woff) format("woff");
}

body {
    margin: 0;
    height: 100vh;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.side1 {
    background-image: url('./images/sidesplash.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    width: 40vw;
    border: solid .1px rgb(38, 38, 38);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.odin {
    height: 160px;
    width: 140px;
}

.side2 {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 60vw;
    border: solid .1px rgb(38, 38, 38);
}

.overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 35%;
    padding: 0px;
    background-color: rgba(0, 0, 0, 0.466);
    font-family: "nature";
    font-size: 45px;
    color: white;
}

.overlay-top {
    font-family: "norse";
    font-size: 60px;
    margin-bottom: -50px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.side2 input[type='text'],.side2 input[type='email'],
.side2 input[type='tel'], .side2 input[type='password'] {
    width: 325px;
    height: 25px;
    border:2px solid rgb(234, 234, 236);
    border-radius: 5px;
    background-color: rgb(253, 253, 253);
}

input[type='text']:invalid,input[type='email']:invalid,
input[type='tel']:invalid,input[type='password']:invalid {
    border: 1px solid red;
}

input[type='text']:focus,input[type='email']:focus,
input[type='tel']:focus,input[type='password']:focus {
    border: 1px solid blue;
    box-shadow: 2px 2px 4px grey;
    outline: none;
}

label {
    font-size: 14px;
    font-weight: bold;
    color: rgb(38, 38, 38);
}

.head {
    font-size: 24px;
    background-color: rgb(249, 249, 249);
    flex: .5;
    padding: 170px 40px 0px 7%;
    
}

form {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    flex: 1;
}

h3 {
    font-size: 28px;
    padding-left: 7%;
    color: rgb(38, 38, 38);

}

.f-1 {
    padding: 20px 10px 30px 0px;
}

.f-2 {
    padding: 20px 0px 30px 50px;
}

.form-sec {
    display: flex;
    flex-direction: column;
    padding: 20px 0px 20px 0px;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex: 1 0;
    padding-left: 7%;
    
}

.foot {
    background-color: rgb(249, 249, 249);
    flex: 1;
    padding: 50px 10px 0px 7%;
    box-shadow: 0 10px 10px -10px grey inset;
}

.footer {
    align-self: center;
    justify-self: center;
    font-size: 15px;
    color: white;
}

.footer a {
    color: white;
    text-decoration: underline;
}

button {
    color: white;
    font-weight: bold;
    font-size: 20px;
    background-color: #688150;
    border: none;
    padding: 10px;
    width: 200px;
    height: 50px;
    border-radius: 6px;
    margin-bottom: 30px;
    box-shadow: 1px 1px 4px grey;
    cursor: pointer;
    transition-duration: 0.2s;
}

button:hover {
    background-color: #596e44;
}

button:active {
    transform: translateY(1px);
    box-shadow: 1px 1px 4px grey;
}
a {
    color: #688150;
    text-decoration-line: none;
}
